fastapi
uvicorn[standard]==0.32.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.36
clickhouse-driver==0.2.7
celery==5.4.0
redis==5.2.0
python-dotenv==1.0.1
loguru==0.7.2
pydantic==2.10.3
httpx==0.28.1
nest-asyncio==1.6.0
python-multipart==0.0.6

langgraph==0.2.53
langchain==0.3.10
langchain-community==0.3.10
vanna==0.7.1
chromadb
pysqlite3
#chromadb==0.5.21
#pysqlite3-binary==0.5.4
sentence-transformers==3.3.1

# 修复 vanna 0.7.1 缺少 ollama 依赖
ollama>=0.4.6
websockets==12.0